# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse files
.project
.cproject

# Build folders
build
build64

# Modules (externals) folder
modules
