# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse files
.project
.cproject
.settings

# Qt Creator files
*.user

# Build folders
build*
